button.start {
  background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
  width: 40%;
  height: 200px;
  margin-top: 150px;
  margin-left: 400px;
}
body{
   background-image: url('c:/project/photos/back.jpeg');
   background-repeat: no-repeat;
  background-size: cover;
}
#section{
  width: 80%;
  height: 600px;
  margin-left:  10%;
}
#pic{
  width: 80%;
  height: 600px;
  margin-left:  10%;
}
.stone{
  margin-left: 43%;
  margin-top: 20%;
  height: 200px;
  z-index: 5;
}
.t{
  font-size: 50px;
  margin-left: 4%;
  margin-top: -23%;
  font-family: Comic Sans MS;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: rgba(0,55,255,0.32);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 4px 0 9px rgba(255,255,255,0.71) ;
}
#myProgress {
  width: 40%;
  background-color: #1566a6;
  position: absolute;
  margin-top: 40%;
  margin-left: 20%;
  border-radius: 20%;
  box-shadow: 4px 0 9px rgba(255,255,255,0.71) ;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #30cdff;
  border-radius: 20%;
  box-shadow: 4px 0 9px rgba(255,255,255,0.71) ;
}
#myProgress2 {
  width: 40%;
  background-color: #e8a988;
  position: absolute;
  margin-top: 40%;
  margin-left: 20%;
  border-radius: 20%;
  box-shadow: 4px 0 9px rgba(255,255,255,0.71) ;
}

#myBar2 {
  width: 1%;
  height: 30px;
  background-color: #95432e;
  border-radius: 20%;
  box-shadow: 4px 0 9px rgba(255,255,255,0.71) ;
}
.fishB{
  background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
  margin-left: 28%;
  width: 25%;
  height: 10%;
  margin-top: 30%;
  position: absolute;
}
#fishT
{
 font-family: Comic Sans MS;
  color: #1d1917;
}

.water {
  background-image: url('photos/water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fish{
  z-index: 9999;
  width: 35%;
  height: 35%;
  margin-top: 15%;
  margin-left: -40%;
  position: absolute;
}
.fisher
{
  background-image: url('photos/fisher.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 20%;
  animation: shadow 1s infinite alternate;
}
@keyframes shadow {
  from {
    box-shadow: 0 0 55px 10px white;
  }
  to {
    box-shadow: 0 0 90px 20px white;
  }
}
.coast{
  background-image: url('photos/берег.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.next{
  background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
  margin-left: 45%;
  margin-top: 35%;
  width: 25%;
  height: 15%;
  position: fixed;
}
.nextT{
  font-size: 40px;
  color: #655043;
  font-family: Comic Sans MS;
}
.fisherman{
  width: 40%;
  margin-top: -40%;
}
.f{
  background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
  margin-top: 45%;
  margin-left: 30%;
}
.s{
   background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
}
.text{
  background: rgba(58, 31, 10, 0.7);
  border: 3;
  border-color: #170b03;
  border-radius: 20px;
  width: 40%;
  height: 200px;
  margin-top: 150px;
  margin-left: 400px;
}
.throw
{
  background-image: url('photos/throw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.text{
  background-color: black
}
h2 {
  color: #170b03;
  font-size: 100px;
  line-height: 0px;
  font-family: "https://fonts.googleapis.com/css?family=Play&display=swap";
}
body{
	 background-image: url('c:/project/photos/back.jpeg');
}
p {
  color: white;
  font-size: 30px;
  line-height: 0px;
  font-family: "https://fonts.googleapis.com/css?family=Play&display=swap";
}